@import url("./style.css");
@import url("./indexQueries.css");

html {
  scroll-behavior: smooth;
}

header,
footer {
  width: 100%;
  height: 5rem;
  background: var(--col-light);
  color: var(--col-white);
  font-family: "Open Sans", Helvetica, Arial, Helvetica, Arial, sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#logo {
  display: block;
  width: 5rem;
  height: 5rem;
  background-image: url("../img/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 300ms ease-out;
}

#logo:focus {
  outline: 0;
  transform: scale(1.1);
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Lalezar", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--col-white);
}

hr {
  width: 20rem;
  height: 1px;
  background: var(--col-white);
  margin: 0 auto 2rem;
  border: 0;
}

/* HERO IMAGE */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 30rem;
  background: linear-gradient(#3339, #3339), url("../img/lecturer.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero > * {
  font-family: "Lalezar", Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-shadow: var(--col-black) 3px 3px 0;
}

.hero h1 {
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--col-light);
}

.hero h2 {
  font-size: 2rem;
  color: var(--col-white);
}

/* ABOUT US */

.about-us {
  width: 100%;
  padding: 3rem;
  background: var(--col-light);
  color: var(--col-white);
  border-radius: 0 0 1rem 1rem;
}

.paragraphs {
  display: grid;
  gap: 2rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: justify;
}

/* LECTURERS */

.lecturers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}

.lecturers h4 {
  font-family: "Lalezar", Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
  line-height: 1.15rem;
  color: var(--col-dark);
  text-transform: capitalize;
}

.lecturer hr {
  margin-top: -2rem;
}

.lecturers p,
.lecturers span,
.lecturers li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  color: var(--col-white);
}

.filtering {
  width: 100%;
  min-height: 3rem;
  display: flex;
  gap: 0 1rem;
}

.filtering > button {
  border: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  flex: 1;
  background: var(--col-dark);
  color: var(--col-white);
  border-radius: 20rem;
}

.filtering button:hover,
.filtering button:focus {
  background: var(--col-white);
  color: var(--col-dark);
}

.filtering button:hover span,
.filtering button:focus span {
  color: var(--col-dark);
  rotate: 90deg;
}

.filtering span {
  font-size: 1rem;
  rotate: -90deg;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem 2rem;
  height: 36rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
  min-height: 11rem;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--col-light);
  overflow-x: hidden;
  box-shadow: 5px 5px 20px #222;
}

.blank-card {
  position: relative;
}

.blank-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--col-dark);
}

.lecturer {
  display: flex;
  gap: 0.5rem;
}

.lecturer img {
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  text-align: start;
  padding: 0.125rem 0 0;
}

.info p {
  line-height: 0.9;
}

.info-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}

.info-icons i {
  margin-right: 0.25rem;
}

.info-icons .fa-solid {
  font-size: 1rem;
  color: var(--col-dark);
}

.info-icons span {
  text-transform: capitalize;
}

.price .icon {
  text-transform: none;
}

.tags {
  padding: 0.5rem 0 0.35rem 0;
  overflow-x: auto;
  flex: 1;
}

.tags ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 0 1rem;
}

.tags li button {
  border: 0;
  outline: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 20rem;
  font-weight: 600;
  letter-spacing: 0.25px;
  background: var(--col-dark);
  color: var(--col-white);
  text-transform: capitalize;
  white-space: nowrap;
}

.tags li button:hover,
.tags li button:focus {
  background: var(--col-white);
  color: var(--col-dark);
}

.tags::-webkit-scrollbar {
  height: 3px;
  cursor: pointer;
}

.tags::-webkit-scrollbar-track {
  background: var(--col-white);
  border-radius: 2rem;
}

.tags::-webkit-scrollbar-thumb {
  background: var(--col-dark);
  border-radius: 2rem;
}

.tags::-webkit-scrollbar-thumb:hover {
  background: var(--col-black);
}

.card a {
  height: fit-content;
  margin: auto 0;
  text-decoration: none;
}

.card a:hover .icon,
.card a:focus .icon {
  transform: rotate(-45deg);
}

.card a:hover,
.card a:focus {
  outline: 0;
}

.card a:hover .visit,
.card a:focus .visit {
  background: var(--col-white);
}

.card a:hover span,
.card a:focus span {
  color: var(--col-yellow);
}

.card a:hover .icon,
.card a:focus .icon {
  color: var(--col-white);
  background: var(--col-yellow);
}

.card > div:last-of-type {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.visit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: fit-content;
  white-space: nowrap;
  text-transform: capitalize;
  background: var(--col-yellow);
  border: 2px solid var(--col-yellow);
  padding: 0.25rem 0.5rem;
  border-radius: 20rem;
}

.visit span {
  font-weight: 800;
  letter-spacing: 0.2px;
  color: var(--col-white);
}

.visit .icon {
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.125rem;
  border-radius: 50%;
  color: var(--col-yellow);
  background: var(--col-white);
  transition: all 300ms ease-out;
}

/* CONTROLS */

.controls {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.controls button {
  display: flex;
  justify-content: center;
  width: 8rem;
  gap: 0.5rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding: 0.75rem 1rem;
  border-radius: 20rem;
  background: var(--col-dark);
  color: var(--col-white);
  border: 2px solid var(--col-dark);
}

.controls button:hover:not(:disabled),
.controls button:focus {
  background: var(--col-white);
  color: var(--col-dark);
}

.controls button:hover:not(:disabled) .icon,
.controls button:focus .icon {
  background: var(--col-dark);
  color: var(--col-white);
}

.controls button:disabled {
  filter: opacity(0.6) grayscale(1);
}

.controls .icon {
  display: grid;
  place-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--col-white);
  color: var(--col-dark);
}

.controls .previous .icon .fa-solid {
  transform: translateY(5%);
}

.controls .next .icon .fa-solid {
  transform: translateY(15%);
}

#pages {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: var(--col-white);
}

#pages .page {
  cursor: pointer;
  text-decoration: none;
  color: var(--col-white);
  width: fit-content;
  height: fit-content;
  background: none;
  border: 0;
  padding: 0;
  font-size: 16px;
}

#pages .page:hover {
  transform: scale(1.25);
  font-weight: 900;
}

#active-page {
  color: var(--col-light) !important;
  font-weight: 900;
}

/* CONTACT */

.contact {
  padding: 3rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: var(--col-light);
  color: var(--col-white);
  border-radius: 1rem 1rem 0 0;
}

.contact > div {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact > div > div {
  display: flex;
}

.contact .icon {
  display: grid;
  place-items: center;
  width: 1.75rem;
  aspect-ratio: 1 / 1;
  margin-right: 0.5rem;
}

.contact .fa-solid {
  font-size: 1.75rem;
  color: var(--col-dark);
}
