@import url("./style.css");

header,
footer {
  width: 100%;
  height: 5rem;
  background: var(--col-light);
  color: var(--col-white);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#logo {
  display: block;
  width: 5rem;
  height: 5rem;
  background-image: url("../img/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 300ms ease-in-out;
}

#logo:focus {
  outline: 0;
  transform: scale(1.1);
}

h3 {
  position: relative;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lalezar", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--col-white);
}

h3::after {
  content: "";
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  height: 1.5px;
  background: var(--col-white);
}

/* NAVIGATION */

.container {
  display: flex;
  justify-content: space-between;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}

.container nav {
  width: 20rem;
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.container nav a {
  font-family: "Lalezar", sans-serif;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.65px;
  flex: 1;
  padding: 0.5rem 0.75rem;
  border-radius: 20rem;
  text-align: center;
  text-transform: capitalize;
  background: var(--col-dark);
  color: var(--col-white);
  border: 2px solid var(--col-dark);
  transition: transform 200ms ease-in-out;
}

.container nav a:hover,
.container nav a:focus {
  background: var(--col-white);
  color: var(--col-dark);
  outline: 0;
  transform: translateY(-5%);
}

/* HERO IMAGE */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 30rem;
  background: linear-gradient(#3339, #3339), url("../img/lecturer.jpg");
  background-position: 0 -3rem;
  background-size: cover;
}

.hero > * {
  font-family: "Lalezar", sans-serif;
  font-weight: 200;
  text-shadow: var(--col-black) 3px 3px 0;
}

.hero h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--col-light);
}

.hero h2 {
  font-size: 2rem;
  color: var(--col-white);
}

/* ABOUT US */

.about-us {
  width: 100%;
  padding: 3rem;
  background: var(--col-light);
  color: var(--col-white);
  border-radius: 0 0 1rem 1rem;
}

.paragraphs {
  display: grid;
  gap: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: justify;
}

/* LECTURERS */

.lecturers {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.lecturers h4 {
  font-family: "Lalezar", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15rem;
  color: var(--col-dark);
  text-transform: capitalize;
}

.lecturers p,
.lecturers span,
.lecturers li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  color: var(--col-white);
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 2rem;
}

.card {
  padding: 1rem;
  border-radius: 1rem;
  background: var(--col-light);
  overflow-x: hidden;
}

.lecturer {
  display: flex;
  gap: 0.5rem;
}

.lecturer img {
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.125rem;
  text-align: start;
  padding: 0.5rem 0;
}

.info-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}

.info-icons i {
  margin-right: 0.25rem;
}

.info-icons .fa-solid {
  font-size: 1rem;
  color: var(--col-dark);
}

.info-icons span {
  text-transform: capitalize;
}

.price .icon {
  text-transform: none;
}

.tags {
  padding: 0.5rem 0 0.35rem 0;
  overflow-x: auto;
  flex: 1;
}

.tags ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 0 1rem;
}

.tags li {
  padding: 0.25rem 0.5rem;
  border-radius: 20rem;
  font-weight: 700;
  background: var(--col-dark);
  color: var(--col-white);
  text-transform: capitalize;
  white-space: nowrap;
}

.tags::-webkit-scrollbar {
  height: 3px;
}

.tags::-webkit-scrollbar-track {
  background: var(--col-white);
  border-radius: 2rem;
}

.tags::-webkit-scrollbar-thumb {
  background: var(--col-dark);
  border-radius: 2rem;
}

.tags::-webkit-scrollbar-thumb:hover {
  background: var(--col-black);
}

.card a {
  height: fit-content;
  margin: auto 0;
  text-decoration: none;
}

.card a:hover .icon,
.card a:focus .icon {
  transform: rotate(-45deg);
}

.card a:hover,
.card a:focus {
  outline: 0;
}

.card a:hover .visit,
.card a:focus .visit {
  background: var(--col-white);
}

.card a:hover span,
.card a:focus span {
  color: var(--col-yellow);
}

.card a:hover .icon,
.card a:focus .icon {
  color: var(--col-white);
  background: var(--col-yellow);
}

.card > div:last-of-type {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.visit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: fit-content;
  white-space: nowrap;
  text-transform: capitalize;
  background: var(--col-yellow);
  border: 2px solid var(--col-yellow);
  padding: 0.25rem 0.5rem;
  border-radius: 20rem;
}

.visit span {
  font-weight: 800;
  letter-spacing: 0.2px;
  color: var(--col-white);
}

.visit .icon {
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.125rem;
  border-radius: 50%;
  color: var(--col-yellow);
  background: var(--col-white);
  transition: all 200ms ease-in-out;
}

/* CONTACT */

.contact {
  padding: 3rem;
  font-family: "Open Sans", sans-serif;
  background: var(--col-light);
  color: var(--col-white);
  border-radius: 1rem 1rem 0 0;
}

.contact > div {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact > div > div {
  display: flex;
}

.contact .icon {
  display: grid;
  place-items: center;
  width: 1.75rem;
  aspect-ratio: 1 / 1;
  margin-right: 0.5rem;
}

.contact .fa-solid {
  font-size: 1.75rem;
  color: var(--col-dark);
}
