@import url("./style.css");

h2,
span,
li,
p {
  font-family: "Open Sans";
}

/* HEADER */

header,
footer {
  width: 100%;
  height: 96px;
  background: var(--col-dark);
  color: var(--col-white);
  font-family: "Lalezar";
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#logo {
  width: 96px;
  height: 96px;
  background-image: url("../img/logo_white.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* PROFILE OF THE LECTOR */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}

#profile-picture {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 50%;
  margin: 4rem auto;
  box-shadow: 3px 4px 5px 0px rgba(51, 51, 51, 0.6);
}

.profile > h1 {
  font-family: "Lalezar";
  font-weight: 400;
  font-size: 3rem;
  color: var(--col-light);
}

.profile > h2 {
  font-weight: 400;
  font-size: 24px;
  color: var(--col-white);
  margin-top: 0.5rem;
  text-align: center;
}

.profile hr {
  width: 60%;
  height: 2px;
  margin-top: 3rem;
  background: var(--col-black);
}

/* INFO ABOUT THE LECTOR */

.info {
  display: flex;
  gap: 3rem;
  padding: 3rem;
}

.table {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-shrink: 0;
  padding: 3rem;
  border-radius: 1.5rem;
  background: var(--col-dark);
  box-shadow: 3px 4px 5px 0px rgba(51, 51, 51, 0.6);
}

.table-info {
  display: flex;
  flex-basis: 0;
}

.table span,
.table ul {
  color: var(--col-white);
  list-style-type: none;
  font-size: 16px;
}

.table li:not(:last-of-type) {
  margin-bottom: 2px;
}

.table > div:not(:last-of-type) {
  margin-bottom: 1rem;
}

.table .fa-solid {
  color: var(--col-light);
  font-size: 1.5rem;
}

.icon {
  display: flex;
  justify-content: center;
  width: 1.5rem;
  margin-right: 1rem;
}

.bio {
  display: flex;
  align-items: center;
  text-align: justify;
}

.info p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--col-white);
}

/* TAGS */

.tags {
  display: flex;
  padding: 0 3rem;
}

.tags .fa-solid {
  color: var(--col-light);
  font-size: 35.2px;
}

.tags .icon {
  display: flex;
  justify-content: center;
  width: 3rem;
}

.tags ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.tags li {
  white-space: nowrap;
  width: min-content;
  height: min-content;
  padding: 0.5rem 1rem;
  border-radius: 20rem;
  color: var(--col-white);
  background: var(--col-dark);
  box-shadow: 3px 4px 5px 0px rgba(51, 51, 51, 0.6);
}

@media only screen and (min-width: 260px) and (max-width: 767px) {
  .profile,
  .info,
  .tags {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  main {
    padding-bottom: 2rem;
  }

  header,
  footer {
    height: 48px;
  }

  #logo {
    width: 48px;
    height: 48px;
  }

  #profile-picture {
    max-width: 8rem;
    max-height: 8rem;
    margin: 2rem auto;
  }

  .profile h1 {
    font-size: 1.25rem;
  }

  .profile h2 {
    font-size: 0.8rem;
  }

  .profile hr {
    margin-top: 1.5rem;
  }

  .table .fa-solid {
    font-size: 1rem;
  }

  .icon {
    margin-right: 0.5rem;
  }

  .info {
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .table {
    aspect-ratio: 0;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--child-max-width), 50%));
  }

  .table span,
  .table ul {
    font-size: 0.85rem;
  }

  .table > div:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  .info p {
    font-size: 0.85rem;
    line-height: 1.35rem;
  }

  .tags {
    flex-direction: column;
  }

  .tags .icon {
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .tags .fa-solid {
    font-size: 2rem;
  }

  .tags ul {
    gap: 0.5rem;
  }

  .tags li {
    white-space: wrap;
    text-align: center;
    font-size: 0.75rem;
    width: 100%;
  }

  footer span {
    font-size: 0.75rem;
  }
}
