@import url("./style.css");
@import url("./lecturerQueries.css");

h2,
span,
li,
p {
  font-family: "Open Sans";
  color: var(--col-white);
}

#profile-picture,
.table,
.tags li {
  box-shadow: 5px 5px 20px #222;
}

/* HEADER */

header,
footer {
  width: 100%;
  height: 5rem;
  background: var(--col-light);
  color: var(--col-white);
  text-align: center;
  font-family: "Open Sans" sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#logo {
  width: 5rem;
  height: 5rem;
  background-image: url("../img/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* PROFILE OF THE LECTOR */

.profile {
  display: grid;
  place-items: center;
  padding: 0 3rem;
}

#profile-picture {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 4rem auto;
}

.profile > h1 {
  font-family: "Lalezar";
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  color: var(--col-light);
}

.profile > h2 {
  font-weight: 400;
  font-size: 24px;
  margin-top: 0.5rem;
  text-align: center;
}

.profile hr {
  width: 60%;
  margin-top: 3rem;
}

/* INFO ABOUT THE LECTOR */

.info {
  display: flex;
  gap: 3rem;
  padding: 3rem;
}

.table {
  width: 100%;
  display: grid;
  gap: 1rem 0;
  align-content: space-between;
  padding: 3rem;
  border-radius: 1.5rem;
  background: var(--col-dark);
}

.table-info {
  display: flex;
  width: max-content;
}

.table-info li,
.table-info span {
  white-space: nowrap;
  font-size: 16px;
}

.table ul {
  list-style-type: none;
}

.table-info .fa-solid {
  color: var(--col-light);
  font-size: 1.5rem;
}

.icon {
  display: flex;
  justify-content: center;
  width: 1.5rem;
  margin-right: 0.75rem;
}

.bio {
  text-align: justify;
}

.info p {
  font-size: 1rem;
  line-height: 1.45rem;
}

/* TAGS */

.tags {
  display: flex;
  padding: 0 3rem 3rem 3rem;
}

.tags .fa-solid {
  color: var(--col-light);
  font-size: 2.25rem;
}

.tags .icon {
  width: 3rem;
}

.tags ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.tags li {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 20rem;
  background: var(--col-dark);
}