@import url("./style.css");

header {
  width: 100%;
  height: 96px;
  background: var(--col-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 96px;
  height: 96px;
  background-image: url("../img/logo_white.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-picture {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  margin: 4rem auto;
}

.profile > h1 {
  font-family: "Lalezar";
  font-weight: 400;
}

.profile > h2 {
  font-family: "Open Sans";
  font-weight: 300;
}
