:root {
  --col-white: #fff;
  --col-black: #333;
  --col-dark: #00384d;
  --col-light: #74c7d3;
  --col-yellow: #fecb2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 1920px;
}

main {
  max-width: 60rem;
  margin: 0 auto;
}
