<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teacher Digital Agency</title>
  <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="../static/img/favicons/site.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <header>
    <div class="container">
      <a id="logo" href="#"></a>
      <nav>
        <a href="">o nás</a>
        <a href="">kantoři</a>
        <a href="">kontakt</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="hero">
      <h1>teacher digital agency</h1>
      <h2>Vaše cesta ke vzdělání začíná s námi!</h2>
    </div>
    <div class="about-us">
      <h3>o nás</h3>
      <div class="paragraphs">
        <p>Teacher digital Agency je mladá společnost zaměřená na vyhledávání
          špičkových odborníků z řad učitelů, lektorů a tutorů.</p>
        <p>Sestavujeme exkluzivní databázi těchto specialistů, abychom mohli
          efektivně propojovat klienty s ideálními odborníky dle jejich přání
          a specifických potřeb. Vaše vzdělávání je u nás v dobrých rukou.</p>
      </div>
    </div>
    <div class="lecturers">
      <h3>kantoři</h3>
      <div class="cards">
        {% for lecturer in data %}
        <div class="card">
          <div class="lecturer">
            <img src={{lecturer.picture_url}} alt="LECTURER PROFILE PICTURE" width="80px" height="80px">
            <div class="info">
              <h4>{{lecturer.title_before}} {{lecturer.first_name}} {{lecturer.middle_name}} {{lecturer.last_name}}
                {{lecturer.title_after}}</h4>
              <p>{{lecturer.claim}}</p>
              <div class="info-icons">
                <div class="location">
                  <span class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                    {{lecturer.location}}
                  </span>
                </div>
                <div class="price">
                  <span class="icon">
                    <i class="fa-solid fa-coins"></i>
                    {{lecturer.price_per_hour}} Kč / hod.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="tags tags-container">
              <ul>
                {% for tag in lecturer.tags %}
                <li>{{ tag.name }}</li>
                {% endfor %}
              </ul>
            </div>
            <a href="/lecturer/{{lecturer.uuid}}">
              <div class="visit">
                <span>Více info</span>
                <span class="icon">
                  <i class="fa-solid fa-arrow-right"></i>
                </span>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="controls">
        <button>
          <span class="icon">
            <i class="fa-solid fa-arrow-left"></i>
          </span>
          Předchozí
        </button>
        <div class="pages">
          <a href="">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a href="">4</a>
          <span> . . . </span>
          <a href="">68</a>
        </div>
        <button>
          Další
          <span class="icon">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
        </button>
      </div>
    </div>
    </div>
    </div>
    <div class="contact">
      <h3>kontakt</h3>
      <div>
        <div>
          <span class="icon">
            <i class="fa-solid fa-square-phone"></i>
          </span>
          <span>+420 112 155 404</span>
        </div>
        <div>
          <span class="icon">
            <i class="fa-solid fa-envelope"></i>
          </span>
          <span>info@thelastbraincell.com</span>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <span>© 2023 TEACHER DIGITAL AGENCY</span>
  </footer>

  <script src="https://kit.fontawesome.com/7ba72c0f9b.js" crossorigin="anonymous"></script>
  <script src="../static/js/index.js"></script>
</body>
</html>