<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <header>
    <div class="container">
      <a id="logo" href="./"></a>
      <nav>
        <a href="">o nás</a>
        <a href="">kantoři</a>
        <a href="">kontakt</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="hero">
      <h1>teacher digital agency</h1>
      <h2>Vaše cesta ke vzdělání začíná s námi!</h2>
    </div>
    <div class="about-us">
      <h3>o nás</h3>
      <div class="paragraphs">
        <p>Teacher digital Agency je mladá společnost zaměřená na vyhledávání
          špičkových odborníků z řad učitelů, lektorů a tutorů.</p>
        <p>Sestavujeme exkluzivní databázi těchto specialistů, abychom mohli
          efektivně propojovat klienty s ideálními odborníky dle jejich přání
          a specifických potřeb. Vaše vzdělávání je u nás v dobrých rukou.</p>
      </div>
    </div>
    <div class="lecturers">
      <h3>kantoři</h3>
      <div class="cards">
        <div class="card">
          <div class="lecturer">
            <img
              src="https://tourdeapp.cz/storage/images/2023_02_25/412ff296a291f021bbb6de10e8d0b94863fa89308843b/big.png.webp"
              alt="LECTURER PROFILE PICTURE" width="80px" height="80px">
            <div class="info">
              <h4>LECTURER_FNAME_LNAME_TITLE</h4>
              <p>LECTURER_CLAIM_BLANK_BLANK_BLANK_BLANK_BLANK</p>
              <div class="info-icons">
                <div class="location">
                  <span class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                    LECTURER_LOCATION
                  </span>
                </div>
                <div class="price">
                  <span class="icon">
                    <i class="fa-solid fa-coins"></i>
                    LECTURER_PRICE
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="tags tags-container">
              <ul>
                <li>PUN8hGUxR89WmssjgUDBWgXX</li>
                <li>2VRhZQPNMo7PcfoTdKHVrULc2</li>
                <li>jKeWNPWgnOHIt3tXbXKraIharvGB6WTA</li>
                <li>3xHJTjc4cRAcG6mu4LUqsga</li>
                <li>WzGfI5RimM3ndDoXoc5qJDsvGRFrH1yhqv9PX</li>
                <li>nVXpaon5oebekBJ9QOL1c6heKLPM5Xu5</li>
              </ul>
            </div>
            <a href="">
              <div class="visit">
                <span>zajímá mě</span>
                <span class="icon">
                  <i class="fa-solid fa-arrow-right"></i>
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="lecturer">
            <img
              src="https://tourdeapp.cz/storage/images/2023_02_25/412ff296a291f021bbb6de10e8d0b94863fa89308843b/big.png.webp"
              alt="LECTURER PROFILE PICTURE" width="80px" height="80px">
            <div class="info">
              <h4>LECTURER_FNAME_LNAME_TITLE</h4>
              <p>LECTURER_CLAIM_BLANK_BLANK_BLANK_BLANK_BLANK</p>
              <div class="info-icons">
                <div class="location">
                  <span class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                    LECTURER_LOCATION
                  </span>
                </div>
                <div class="price">
                  <span class="icon">
                    <i class="fa-solid fa-coins"></i>
                    LECTURER_PRICE
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="tags tags-container">
            <ul>
              <li>PUN8hGUxR89WmssjgUDBWgXX</li>
              <li>2VRhZQPNMo7PcfoTdKHVrULc2</li>
              <li>jKeWNPWgnOHIt3tXbXKraIharvGB6WTA</li>
              <li>3xHJTjc4cRAcG6mu4LUqsga</li>
              <li>WzGfI5RimM3ndDoXoc5qJDsvGRFrH1yhqv9PX</li>
              <li>nVXpaon5oebekBJ9QOL1c6heKLPM5Xu5</li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="lecturer">
            <img
              src="https://tourdeapp.cz/storage/images/2023_02_25/412ff296a291f021bbb6de10e8d0b94863fa89308843b/big.png.webp"
              alt="LECTURER PROFILE PICTURE" width="80px" height="80px">
            <div class="info">
              <h4>LECTURER_FNAME_LNAME_TITLE</h4>
              <p>LECTURER_CLAIM_BLANK_BLANK_BLANK_BLANK_BLANK</p>
              <div class="info-icons">
                <div class="location">
                  <span class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                    LECTURER_LOCATION
                  </span>
                </div>
                <div class="price">
                  <span class="icon">
                    <i class="fa-solid fa-coins"></i>
                    LECTURER_PRICE
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="tags tags-container">
            <ul>
              <li>PUN8hGUxR89WmssjgUDBWgXX</li>
              <li>2VRhZQPNMo7PcfoTdKHVrULc2</li>
              <li>jKeWNPWgnOHIt3tXbXKraIharvGB6WTA</li>
              <li>3xHJTjc4cRAcG6mu4LUqsga</li>
              <li>WzGfI5RimM3ndDoXoc5qJDsvGRFrH1yhqv9PX</li>
              <li>nVXpaon5oebekBJ9QOL1c6heKLPM5Xu5</li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="lecturer">
            <img
              src="https://tourdeapp.cz/storage/images/2023_02_25/412ff296a291f021bbb6de10e8d0b94863fa89308843b/big.png.webp"
              alt="LECTURER PROFILE PICTURE" width="80px" height="80px">
            <div class="info">
              <h4>LECTURER_FNAME_LNAME_TITLE</h4>
              <p>LECTURER_CLAIM_BLANK_BLANK_BLANK_BLANK_BLANK</p>
              <div class="info-icons">
                <div class="location">
                  <span class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                    LECTURER_LOCATION
                  </span>
                </div>
                <div class="price">
                  <span class="icon">
                    <i class="fa-solid fa-coins"></i>
                    LECTURER_PRICE
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="tags tags-container">
            <ul>
              <li>PUN8hGUxR89WmssjgUDBWgXX</li>
              <li>2VRhZQPNMo7PcfoTdKHVrULc2</li>
              <li>jKeWNPWgnOHIt3tXbXKraIharvGB6WTA</li>
              <li>3xHJTjc4cRAcG6mu4LUqsga</li>
              <li>WzGfI5RimM3ndDoXoc5qJDsvGRFrH1yhqv9PX</li>
              <li>nVXpaon5oebekBJ9QOL1c6heKLPM5Xu5</li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="lecturer">
            <img
              src="https://tourdeapp.cz/storage/images/2023_02_25/412ff296a291f021bbb6de10e8d0b94863fa89308843b/big.png.webp"
              alt="LECTURER PROFILE PICTURE" width="80px" height="80px">
            <div class="info">
              <h4>LECTURER_FNAME_LNAME_TITLE</h4>
              <p>LECTURER_CLAIM_BLANK_BLANK_BLANK_BLANK_BLANK</p>
              <div class="info-icons">
                <div class="location">
                  <span class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                    LECTURER_LOCATION
                  </span>
                </div>
                <div class="price">
                  <span class="icon">
                    <i class="fa-solid fa-coins"></i>
                    LECTURER_PRICE
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="tags tags-container">
            <ul>
              <li>PUN8hGUxR89WmssjgUDBWgXX</li>
              <li>2VRhZQPNMo7PcfoTdKHVrULc2</li>
              <li>jKeWNPWgnOHIt3tXbXKraIharvGB6WTA</li>
              <li>3xHJTjc4cRAcG6mu4LUqsga</li>
              <li>WzGfI5RimM3ndDoXoc5qJDsvGRFrH1yhqv9PX</li>
              <li>nVXpaon5oebekBJ9QOL1c6heKLPM5Xu5</li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="lecturer">
            <img
              src="https://tourdeapp.cz/storage/images/2023_02_25/412ff296a291f021bbb6de10e8d0b94863fa89308843b/big.png.webp"
              alt="LECTURER PROFILE PICTURE" width="80px" height="80px">
            <div class="info">
              <h4>LECTURER_FNAME_LNAME_TITLE</h4>
              <p>LECTURER_CLAIM_BLANK_BLANK_BLANK_BLANK_BLANK</p>
              <div class="info-icons">
                <div class="location">
                  <span class="icon">
                    <i class="fa-solid fa-location-dot"></i>
                    LECTURER_LOCATION
                  </span>
                </div>
                <div class="price">
                  <span class="icon">
                    <i class="fa-solid fa-coins"></i>
                    LECTURER_PRICE
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="tags tags-container">
            <ul>
              <li>PUN8hGUxR89WmssjgUDBWgXX</li>
              <li>2VRhZQPNMo7PcfoTdKHVrULc2</li>
              <li>jKeWNPWgnOHIt3tXbXKraIharvGB6WTA</li>
              <li>3xHJTjc4cRAcG6mu4LUqsga</li>
              <li>WzGfI5RimM3ndDoXoc5qJDsvGRFrH1yhqv9PX</li>
              <li>nVXpaon5oebekBJ9QOL1c6heKLPM5Xu5</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="contact">
      <h3>kontakt</h3>
      <div>
        <div>
          <span class="icon">
            <i class="fa-solid fa-square-phone"></i>
          </span>
          <span>+420 112 155 404</span>
        </div>
        <div>
          <span class="icon">
            <i class="fa-solid fa-envelope"></i>
          </span>
          <span>info@thelastbraincell.com</span>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <span>© 2023 TEACHER DIGITAL AGENCY</span>
  </footer>

  <script src="https://kit.fontawesome.com/7ba72c0f9b.js" crossorigin="anonymous"></script>
  <script src="../static/js/index.js"></script>
</body>
</html>