<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teacher Digital Agency</title>
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <header>
    <a id="logo" href="#"></a>
  </header>
  <main>
    <div class="hero">
      <h1>teacher digital agency</h1>
      <h2>Vaše cesta ke vzdělání začíná s námi!</h2>
    </div>
    <div class="about-us" id="about-us">
      <h3>o nás</h3>
      <hr>
      <div class="paragraphs">
        <p>Teacher digital Agency je mladá společnost zaměřená na vyhledávání
          špičkových odborníků z řad učitelů, lektorů a tutorů.</p>
        <p>Sestavujeme exkluzivní databázi těchto specialistů, abychom mohli
          efektivně propojovat klienty s ideálními odborníky dle jejich přání
          a specifických potřeb. Vaše vzdělávání je u nás v dobrých rukou.</p>
      </div>
    </div>
    <div class="lecturers" id="lecturers">
      <div>
        <h3>kantoři</h3>
        <hr>
      </div>
      <div class="cards" id="cards"></div>
      <div class="controls">
        <button id="previous">
          <span class="icon">
            <i class="fa-solid fa-arrow-left"></i>
          </span>
          Předchozí
        </button>
        <div id="pages"></div>
        <button id="next">
          Další
          <span class="icon">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
        </button>
      </div>
    </div>
    </div>
    </div>
    <div class="contact" id="contact">
      <h3>kontakt</h3>
      <hr>
      <div>
        <div>
          <span class="icon">
            <i class="fa-solid fa-square-phone"></i>
          </span>
          <span>+420 112 155 404</span>
        </div>
        <div>
          <span class="icon">
            <i class="fa-solid fa-envelope"></i>
          </span>
          <span>info@thelastbraincell.com</span>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <span>© 2023 TEACHER DIGITAL AGENCY</span>
  </footer>

  <script src="https://kit.fontawesome.com/7ba72c0f9b.js" crossorigin="anonymous"></script>
  <script>
    const lecturerCount = "{{count}}";
  </script>
  <script src="../static/js/index.js"></script>
</body>
</html>