<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lecturer</title>
</head>
<body>
    <h1>{{ lecturer.title_before }} {{ lecturer.first_name }} {{ lecturer.middle_name }} {{ lecturer.last_name }} {{ lecturer.title_after }}</h1>
    <img src="{{ lecturer.picture_url }}" alt="{{ lecturer.first_name }} {{ lecturer.last_name }}">
    <h2>Tags</h2>
    <ul>
        {% for tag in lecturer.tags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>